.Container {
  display: flex;
  width: calc(100% - 2rem);
  height: 20%;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.Container label {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 3rem;
  width: 6rem;
}

.Container input {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.5px solid black;
  font-size: 1rem;
}

.Container input.possible {
  border: 2px solid green;
}

.Container input.impossible {
  border: 2px solid red;
}

.Info {
  position: absolute;
  bottom: 2rem;
  left: 9rem;
  font-weight: 600;
  border: none;
}

.Info.possible {
  color: green;
}

.Info.impossible {
  color: red;
}
